/* $lightBlue: #00a3c8;
$steelBlue: #004861;
body{
    color: red;
    background-color: #EEE;
}

.large-hero{
    color: $steelBlue;

    h2{
        color: $lightBlue;
    }
}

.columns{
    columns: 3;
} */
/*
    FILE ARCHITECTURE
    IDENTIFY PATTERNS IN THE DESIGN
    Rules to be followed to name the classes of CSS
    B - Block
    E - Element
    M - Modifier
*/
@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";
@import "modules/_header.css";
@import "modules/_grid";
@import "modules/_helper";
@import "modules/_heading";
@import "modules/_large-hero";
@import "modules/_btn.css";
@import "modules/_services.css";
@import "modules/_counter.css";
@import "modules/_testimonial.css";
@import "modules/_reveal-item.css";
@import "modules/_footer.css";
@import "modules/_modal.css";
@import "modules/_contact-box.css";
@import "modules/_form.css";