.contact-box{
    &-title{
        font-size: 1.875rem;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 15px;
        color: $steelBlue;
    }
    &-address{
        font-size: 0.975rem;
        line-height: 1.5;
    }
}