/* .heading{
    &-subtitle{
        color: $mainBlue;
        text-transform: uppercase;
        letter-spaing: .5px;
        font-size: 0.9rem;
        margin-bottom: 20px;
        font-weight: 900;
    }
    &-title{
        font-size: 2.7rem;
        color: $steelBlue;
        margin-top: 0;
        margin-bottom: 30px;
    }
} */
.section{
    padding: 80px 0;

    &-bg-light{
        background-color: $lightGrey;
    }
    &-bg-blue{
        background-color: $mainBlue;
    }
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.d-block{
    display: block;
}
.p-b-0{
    padding-bottom: 0;
}